body{
    background-image: url(imagens/panda_3.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
    text-align: left;
    font-family: 'Inconsolata', monospace;
}

h1{
font-size: 60px;
font-family: 'Dongle', sans-serif;
margin-left: 130px;
padding-top: 80px;
-webkit-text-fill-color: #48D1CC;
-webkit-text-stroke: 1px #000000; 
}

p{
font-size: 20px;
margin-left: 130px;
line-height: 20px;
text-align: justify;
}

.about {
text-decoration: none;
font-weight: bold;
color: black;
}

.about:hover{
color:#48D1CC;
}

ul li{
    border-left:2px solid #48D1CC;
    text-decoration: none;
    list-style-type: none;
    margin-left: 150px;
}

@media (max-width: 1090px) {
    body {
      background-position: bottom;
      height:auto;
    }
        
    p {
      margin-right: 100px;
      font-size:10px;
      text-align: justify;
    }
    
    ul li{
        font-size: 10px;
    }
}
